<div class="shouhinshousainozentai">
    <h1>商品詳細</h1>
    <br>
    <div class="clean">
        <p>メーカー : <%= @clean.maker %></p>
        <br>
        <p>ジャンル : <%= @clean.genre %></p>
        <br>
        <p>型番 : <%= @clean.name %></p>
        <br>
        <p>￥<%= @clean.cost %></p>
        <br>
        <p><%= image_tag @clean.image_url, size: "250x200" if @clean.image? %></p>
        <br>
        <h3>製品の特徴</h3>
        <br>
        <p><%= @clean.about %></p>
        <br>
        <p>タグ</p>
        <% @clean.tags.each do |tag| %>
            <%= tag.name %>
        <% end %>
        <br>
        <% if user_signed_in? %>
            <% if current_user.already_liked?(@clean) %>
                <%= button_to clean_like_path(@clean), method: :delete do %>
                    <i class="fas fa-heart"></i><%= @clean.likes.count %>
                <% end %>
            <% else %>
                <%= button_to clean_likes_path(@clean), method: :post do %>
                    <i class="far fa-heart"></i><%= @clean.likes.count %>
                <% end %>
            <% end %>
        <% else %>
            <p>いいねの数 = </p><%= @clean.likes.count %>
        <% end %>
        <%= link_to "編集する", edit_clean_path(@clean.id) %>
    </div>
    <div class="comment-wrapper">
        <p>コメント一覧</p>
        <% @comments.each do |c| %>
            <div>
                <%= c.user.email unless c.user.blank? %>
                <br>
                <%= c.content %>
            </div>
            </br>
        <% end %>
        <%= form_with(model: [@clean, @comment], local: true) do |f| %>
            <%= f.text_area :content %>
            <%= button_tag type: "submit" do %>
                <i class="far fa-comments"></i> コメントする
            <% end %>   
        <% end %>
    </div>
    <%= link_to "一覧に戻る", cleans_kensaku_path %>
</div>