
<!DOCTYPE html>
<html lang="en">

    <div class="sindanzentai">
        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" type="text/css" href="index.css">
            <title>Document</title>
        </head>
        <body>
            <div class="commonHeader">
                <section id="flowsHead" class="wf-mplus1p">あなたにピッタリな 掃除機 が1分でわかる</section>
                <br>
                <div class="youkoso">
                    診断ページへようこそ
                </div>
                <div class="horizontal-line-sindan"></div>
            </=>
            <div id="wrapper">
                <div class="sense">
                    <article id="pageBody">
                            <div class="box">
                                <div class="txt">
                                    <p>下記の質問に答えてみてください。あなたにピッタリの掃除機がわかります!!!</p>
                                </div>
                            </div>
                    <ul class="qalist wf-mplus1p">
                    <li id="1" class="question">
                        <a name="#1"></a>
                        <div class="qbox"><span  class="q">Q.</span>掃除機に一番求める要素は?</div>
                            <div class="qabox">
                                <a href="#2" onclick="show(2)" class="qabtn"><div class="btnBox btnBox_y">パワー</div></a>
                                <a href="#3" onclick="show(3)" class="qabtn"><div class="btnBox btnBox_n">軽さ</div></a>
                            </div>
                    </li>
                        
                            <li id="2" class="question" style="display:none;">
                                <a name="#"></a>
                                <div class="qbox"><span  class="q">Q.</span>掃除機を使う際30分以上時間がかかる？</div> 
                                <div class="qabox">
                                    <a href="#101" onclick="show(101)" class="qabtn"><div class="btnBox btnBox_y">〇</div></a>
                                    <a href="#102" onclick="show(102)" class="qabtn"><div class="btnBox btnBox_n">×</div></a>
                                </div>
                            </li>
                            <li id="3" class="question" style="display:none;"> 
                                <a name="#"></a>
                                <div class="qbox"><span  class="q">Q.</span>掃除機を使う際30分以上時間がかかる？</div>
                                <div class="qabox">
                                    <a href="#103" onclick="show(103)" class="qabtn"><div class="btnBox btnBox_y">〇</div></a>
                                    <a href="#104" onclick="show(104)" class="qabtn"><div class="btnBox btnBox_n">×</div></a>
                                </div>
                            </li>
                        
                            <li id="101" class="question" style="display:none;"> 
                                <a name="#"></a>
                                <div class="qbox"><span  class="q">Q.</span>ペットを飼ってる？</div>
                                <div class="qabox">
                                    <a href="#105" onclick="show(105)" class="qabtn"><div class="btnBox btnBox_y">〇</div></a>
                                    <a href="#106" onclick="show(106)" class="qabtn"><div class="btnBox btnBox_n">×</div></a>
                                </div>
                            </li>
                            <li id="102" class="question" style="display:none;">
                                <a name="#"></a>
                                <div class="qbox"><span  class="q">Q.</span>ペットを飼ってる？</div>
                                <div class="qabox">
                                    <a href="#107" onclick="show(107)" class="qabtn"><div class="btnBox btnBox_y">〇</div></a>
                                    <a href="#108" onclick="show(108)" class="qabtn"><div class="btnBox btnBox_n">×</div></a>
                                </div>
                            </li>
                            <li id="103" class="question" style="display:none;">
                                <a name="#"></a>
                                <div class="qbox"><span  class="q">Q.</span>ペットを飼ってる？</div>
                                <div class="qabox">
                                    <a href="#109" onclick="show(109)" class="qabtn"><div class="btnBox btnBox_y">〇</div></a>
                                    <a href="#110" onclick="show(110)" class="qabtn"><div class="btnBox btnBox_n">×</div></a>
                                </div>
                            </li>
                            <li id="104" class="question" style="display:none;"> 
                                <a name="#"></a>
                                <div class="qbox"><span  class="q">Q.</span>ペットを飼ってる？</div>
                                <div class="qabox">
                                    <a href="#111" onclick="show(111)" class="qabtn"><div class="btnBox btnBox_y">〇</div></a>
                                    <a href="#112" onclick="show(112)" class="qabtn"><div class="btnBox btnBox_n">×</div></a>
                                </div>
                            </li>
                            </ul>
    </div>
                
                            <div class="answerList">
                                <div id="105" style="display:none;" class="answer point_box">
                                    <div class="boxer">
                                        <div class="title">
                                            <p>ペットの毛はもちろん、ダニやノミまで完璧に吸いきる！<span class="fs-18"><span class="bg-y">『SV46ABL』</span></span>　for dyson</p>
                                        </div>
                                        <div class="txt">
                                            <div class="img">
                                                <%= image_tag 'sv18ffh.avif' %></div>
                                                <p>dyson史上最強吸引+ペット毛完全対応+取残発見レーザー搭載 全てを兼ね備えた
                                                <br>
                                                <br>最強機種！「SV46ABL」</p>
                                                <div class="ddd">
                                                    <p>★製品ざっくり解説★</p>
                                                    <p>　メーカー：dyson</p>
                                                    <p>　運転時間：最大60分</p>
                                                    <p>　ゴミの量に応じてパワーを調整する「オートモード」搭載</p>
                                                    <p>　超ハイパワー+ペット毛完全対応</p>
                                                    <p><a href="#" class="square_btn">もっと詳しくみる</%a></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="title">
                                            <p>ペットにとってストレスとなる「運転音」を極限まで抑えたいなら！<span class="fs-18"><span class="bg-y">『EC-SR8』</span></span>　for SHARP</p>
                                        </div>
                                        <div class="txt">
                                            <div class="img">
                                                <%= image_tag 'cs851j.webp' %></div>
                                                <p>超・超・超静か！ 掃除機の「音」からペットを守る「EC-SR8」</p>
                                                <div class="ddd">
                                                    <p>★製品ざっくり解説★</p>
                                                    <p>　メーカー：SHARP</p>
                                                    <p>　運転時間：最大45分</p>
                                                    <p>　自走式ブラシで操作が軽い</p>
                                                    <p>　まるで「無音」音を抑えるノンリダクション設計</p>
                                                    <p><a href="#" class="square_btn">もっと詳しくみる</a></p>
                                                    <p>　</p>
                                                    <p>　</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="answerList">
                                <div id="106" style="display:none;" class="answer point_box"> 
                                    <div class="boxer">
                                        <div class="title">
                                            <p>ハイパワー機種をお探しで、短いハンディ型にして使いがちなら！<span class="fs-18"><span class="bg-y">『CS851J』</span></span>　for Shark</p>
                                        </div>
                                        <div class="txt">
                                        <div class="img">
                                        <%= image_tag 'cs851j.webp' %></div>
                                        <p>利便性・汎用性に長けたSharkの看板機種！「CS851J」</p>

                                            <div class="ddd">                                            <p>★製品ざっくり解説★</p>
                                                <p>　メーカー：Shark</p>
                                                <p>　運転時間：最大50分</p>
                                                <p>　ゴミの量に応じてパワーを調整する「オートモード」搭載</p>
                                                <p>　ハイパワー+絨毯対応</p>
                                                <p><a href="#" class="square_btn">もっと詳しくみる</a></p>
                                            </div>
                                        </div>
                                        </div>
                                        <div class="title">
                                            <p>ハイパワーかつ「お手入れが超簡単」な機種に魅力を感じたなら！<span class="fs-18"><span class="bg-y">『SV18FFH』</span></span>　for dyson</p>
                                        </div>
                                        <div class="txt">
                                        <div class="img">
                                            <%= image_tag 'sv18ffh.avif' %>
                                        </div>
                                                <p>ハイパワー + 軽量化 dyson史上最も人気なシリーズの最新作！「SV18FFH」</p>
                                                <div class="ddd">
                                                    <p>★製品ざっくり解説★</p>
                                                    <p>　メーカー：dyson</p>
                                                    <p>　運転時間：最大40分</p>
                                                    <p>　上部に液晶画面を搭載。稼働時間や手入れの目安を可視化</p>
                                                    <p>　ハイパワー+手入れ超簡単</p>
                                                    <p><a href="#" class="square_btn">もっと詳しくみる</a></p>
                                                    <p>　</p>
                                                    <p>　</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>    
                            
                            <div class="answerList">
                                <div id="107" style="display:none;" class="answer point_box"> 
                                    <div class="boxer">
                                        <div class="title">
                                            <p>超軽量かつハイパワー！手軽に使えて超強力な掃除機をお探しなら！<span class="fs-18"><span class="bg-y">『SV33FFOR』</span></span>　for dyson</p>
                                        </div>
                                        <div class="txt">
                                            <div class="img">
                                                <%= image_tag '' %></div>
                                                <p>超軽量  + ハイパワーを実現した「マイクロ」シリーズの最新作！「SV33FFOR」</p>
                                                <p>★製品ざっくり解説★</p>
                                                <p>　メーカー：dysoh</p>
                                                <p>　運転時間：最大25分</p>
                                                <p>　dyson史上最軽量1.5kg</p>
                                                <p>　ハイパワー+手入れ超簡単</p>
                                                <p><a href="#" class="square_btn">もっと詳しくみる</a></p>
                                            </div>
                                        </div>
                                        <div class="title">
                                            <p>ペット毛対応のブラシ搭載、豊富な付属品揃える隠れた人気機種！<span class="fs-18"><span class="bg-y">『WQ71』</span></span>　for Electrolux</p>
                                        </div>
                                        <div class="txt">
                                            <div class="img">
                                                <%= image_tag '' %></div>
                                                <p>ペット毛が絡まない特殊ブラシを搭載した、北欧の人気ブランドElectroluxの最新機種！「WQ71」</p>
                                                <p>★製品ざっくり解説★</p>
                                                <p>　メーカー：Electrolux</p>
                                                <p>　運転時間：最大25～30分</p>
                                                <p>　ワンタッチでハンディに切替可能</p>
                                                <p>　希少なUV照射布団クリーナーが付属p>
                                                <p><a href="#" class="square_btn">もっと詳しくみる</a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="answerList">
                                <div id="108" style="display:none;" class="answer point_box"> 
                                    <div class="boxer">
                                        <div class="title">
                                            <p>稼働時間を減らしてコストを抑えたいというあなたへ！<span class="fs-18"><span class="bg-y">『CS100J』</span></span>　for Shark</p>
                                        </div>
                                        <div class="txt">
                                            <div class="img">
                                            <%= image_tag '' %></div>
                                            <p>強力な機種が欲しいけど、稼働時間はそんなにいらない！というお客様の声に答えた人気機種「CS100J」</p>
                                            <p>★製品ざっくり解説★</p>
                                            <p>　メーカー：shark</p>
                                            <br>
                                            <p>　運転時間：最大13分</p>
                                            <br>
                                            <p>　ゴミ捨てがワンタッチで簡単</p>
                                            <br>
                                            <p>　ワンタッチでハンディに切替可能</p>
                                            <br>
                                            <div class="kuwasikumiru">
                                                <p><a href="#" class="square_btn">もっと詳しくみる</a></p>
                                                <br>
                                            </div>
                                        </div>
                                    </div>
                                        <div class="title">
                                            <p>パワーが持続し、お手入れを極限まで減らしたいあなたに！<span class="fs-18"><span class="bg-y">『MC-SB85K』</span></span>　for Panasonic</p>
                                        </div>
                                        <div class="txt">
                                            <div class="img">
                                                <%= image_tag '' %></div>
                                                <p>特許技術「絡まないブラシ」を搭載し、フィルター無構造を実現したパナの上位機種「MC-SB85K」</p>
                                                <p>★製品ざっくり解説★</p>
                                                <p>　メーカー：Panasonic</p>
                                                <p>　運転時間：最大28分</p>
                                                <p>　フィルター無構造で、吸引力が最後まで強力</p>
                                                <p>　持続力+手入れ激減</p>
                                                <p><a href="#" class="square_btn">もっと詳しくみる</a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                
                            <div class="answerList"> 
                                <div id="109" style="display:none;" class="answer point_box">
                                    <div class="boxer">
                                        <div class="title">
                                            <p>本体質量1kg未満 + パワフル自走で超軽量！ 軽量な機種をお探しなら！<span class="fs-18"><span class="bg-y">『PV-BL50K』</span></span>　for HITACHI</p>
                                        </div>
                                        <div class="txt">
                                            <div class="img">
                                                <%= image_tag '' %></div>
                                                <p>しっかり使えて超軽量。付属品豊富で使いやすい「PV-BL50K」</p>
                                                <p>★製品ざっくり解説★</p>
                                                <p>　メーカー：HITACHI</p>
                                                <p>　運転時間：最大45分</p>
                                                <p>　パワフルな自走で掃除が軽い！</p>
                                                <p>　絡まんブラシでペットも毛も絡まない</p>
                                                <p><a href="#" class="square_btn">もっと詳しくみる</a></p>
                                            </div>
                                        </div>
                                        <div class="title">
                                            <p>絡まった毛を自動カット！ 誰でも扱いやすい構造と、日本製製品をお探しなら！<span class="fs-18"><span class="bg-y">『HC-JD2C』</span></span>　for MITSUBISHI</p>
                                        </div>
                                        <div class="txt">
                                            <div class="img">
                                                <%= image_tag '' %></div>
                                                <p>スティック機種で唯一吹き出しも可能なハイテク機種「HC-JD2C」</p>
                                                <p>★製品ざっくり解説★</p>
                                                <p>　メーカー：MITSUBISHI</p>
                                                <p>　運転時間：最大45分</p>
                                                <p>　「らくリーニングスタンド」で毛絡みも楽々</p>
                                                <p>　ワンタッチでハンディ切替可能</p>
                                                <p><a href="#" class="square_btn">もっと詳しくみる</a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                
                            <div class="answerList"> 
                                <div id="110" style="display:none;" class="answer point_box">
                                    <div class="boxer">
                                        <div class="title">
                                            <p>片手でラクラクつかえてしっかりパワー！そんな機種をお探しのあなたへ！<span class="fs-18"><span class="bg-y">『PV-BL3K』</span></span>　for HITACHI</p>
                                        </div>
                                        <div class="txt">
                                            <div class="img">
                                                <%= image_tag '' %></div>
                                                <p>軽量機種を多数扱うHITACHIの中でも最軽量機種「PV-BL3K」</p>
                                                <p>★製品ざっくり解説★</p>
                                                <p>　メーカー：HITACHI</p>
                                                <p>　運転時間：最大45分</p>
                                                <p>　本体質量0.97kgの超軽量構造</p>
                                                <p>　先端にLEDを搭載し、ゴミが見える！</p>
                                                <p><a href="#" class="square_btn">もっと詳しくみる</a></p>
                                            </div>
                                        </div>
                                        <div class="title">
                                            <p>スティック史上最軽量！とにかく1番軽い機種をお探しなら！<span class="fs-18"><span class="bg-y">『VC-CLW32』</span></span>　for TOSHIBA</p>
                                        </div>
                                        <div class="txt">
                                            <div class="img">
                                                <%= image_tag '' %></div>
                                                <p>全メーカー含めて最軽量の1.0kg「SV18FFH」</p>
                                                <p>★製品ざっくり解説★</p>
                                                <p>　メーカー：TOSHIBA</p>
                                                <p>　運転時間：最大30分</p>
                                                <p>　アタッチメント装着時、先端が光るLED搭載</p>
                                                <p>　専用スタンド付属で置き場に困らない</p>
                                                <p><a href="#" class="square_btn">もっと詳しくみる</a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="answerList"> 
                                <div id="111" style="display:none;" class="answer point_box">
                                    <div class="boxer">
                                        <div class="title">
                                            <p>特許技術「絡まないブラシ」搭載！ペット環境でも快適に掃除可能な機種をお探しなら！<span class="fs-18"><span class="bg-y">『MC-SB53K』</span></span>　for Panasonic</p>
                                        </div>
                                        <div class="txt">
                                            <div class="img">
                                                <%= image_tag '' %></div>
                                                <p>しっかり使えて超軽量。付属品豊富で使いやすい「MC-SB53K」</p>
                                                <p>★製品ざっくり解説★</p>
                                                <p>　メーカー：Panasonic</p>
                                                <p>　運転時間：最大約25分</p>
                                                <p>　ゴミの量に応じてパワーを調整する「ゴミセンサー」搭載</p>
                                                <p>　軽量 + 自走 + 絡まないブラシ搭載</p>
                                                <p><a href="#" class="square_btn">もっと詳しくみる</a></p>
                                            </div>
                                        </div>
                                        <div class="title">
                                            <p>手軽に使えて、お手入れも超簡単！そんな機種をお探しなら！<span class="fs-18"><span class="bg-y">『SV33FFOR』</span></span>　for dyson</p>
                                        </div>
                                        <div class="txt">
                                            <div class="img">
                                                <%= image_tag '' %></div>
                                                <p>超軽量  + ハイパワーを実現した「マイクロ」シリーズの最新作！「SV33FFOR」</p>
                                                <p>★製品ざっくり解説★</p>
                                                <p>　メーカー：dyson</p>
                                                <p>　運転時間：最大25分</p>
                                                <p>　dyson史上最軽量1.5kg</p>
                                                <p>　カーペット、畳も完全対応+壁際を可能にしたブラシ構造</p>
                                                <p><a href="#" class="square_btn">もっと詳しくみる</a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="answerList"> 
                                <div id="112" style="display:none;" class="answer point_box">
                                    <div class="boxer">
                                        <div class="title">
                                            <p>最低限のスペックが揃ってさえいればいい！というあなたに！<span class="fs-18"><span class="bg-y">『SCD-R1P-B』</span></span>　for アイリスオーヤマ</p>
                                        </div>
                                        <div class="img">
                                        <%= image_tag 'scdr1pb.jpg', class:'scdp' %>
                                        </div>
                                        <div class="txt">
                                            
                                                <p>軽量でパワフル コスパ最高の掃除機「SCD-R1P-B」</p>
                                                <p>★製品ざっくり解説★</p>
                                                <p>　メーカー：アイリスオーヤマ</p>
                                                <p>　運転時間：最大30分</p>
                                                <p>　自走式ブラシで操作が軽い</p>
                                                <p>　専用スタンド付属で置き場に困らない</p>
                                                <p><a href="#" class="square_btn">もっと詳しくみる</a></p>
                                            </div>
                                        </div>
                                        <div class="title">
                                            <p>とにかく格安で掃除機を手に入れたい！そんなあなたに！<span class="fs-18"><span class="bg-y">『CL100DZ』</span></span>　for マキタ</p>
                                        </div>
                                        
                                            <div class="img">
                                                <%= image_tag 'makita.jpg', class:'makitap' %>
                                                </div>
                                                <div class="txt">
                                                <p>掃除機の定番マキタの看板商品「CL100DZ」</p>
                                                <p>★製品ざっくり解説★</p>
                                                <p>　メーカー：マキタ</p>
                                                <p>　運転時間：最大12分</p>
                                                <p>　紙パックタイプでお手入れ要らず</p>
                                                <p>　軽量でどなたでも使いやすい</p>
                                                <p><a href="#" class="square_btn">もっと詳しくみる</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </article>
                    </div>
                </div>
                
                
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>
                
                <script type="text/javascript">
                $(function(){
                $('a[href^=#]').click(function() {
                    var speed = 600;
                    var href= $(this).attr("href");
                    var target = $(href == "#" || href == "" ? 'html' : href);
                    var position = target.offset().top;
                    $('body,html').animate({scrollTop:position}, speed, 'swing');
                    return false;
                });
                });
                $(function(){
                    h = $(window).height();
                    h = h-30;
                    $(".question").css("min-height", h + "px");
                    $(".answerList .box").css("min-height", h + "px");
                    
                });
                function show(idName){ 
                    $("#" + idName).show();
                }
                
                </script>
                
                
        </body>
</html>  